@charset "utf-8"; 


@media (min-width:600px) {


#wrap {
                width: 100%;
                height: auto;
                position:relative;
                
            }

    #wrap > header {
        width: 100%;
        height: 53px;
        background-color: rgb(10, 10, 65);
        position:absolute;
    }

        #wrap > header > #logo_wrap {
            width: 100%;
            height: 53px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            #wrap > header > #logo_wrap > #image_box {
                width: 18%;
                height: 53px;
                background-color: rgb(10, 10, 65);
                display: flex;
                justify-content: center;
                align-items: center;
            }

                #wrap > header > #logo_wrap > #image_box > a > .logo_i {
                    width: 80px;
                    height: 40px;
                }

            #wrap > header > #logo_wrap > #ham {
                width: 50px;
                height: 53px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                #wrap > header > #logo_wrap > #ham:hover {
                    cursor: pointer;
                }

                #wrap > header > #logo_wrap > #ham > .hambur {
                    width: 46%;
                    height: 50%;
                }

            /*네비게이션*/
        #wrap > header > #nav {
            background-color: #fff;
            width: 320px;
            height: 100vh;
            position:absolute;
            top:0;
            left:0;
        }



            #wrap > header > #nav > ul > li {
                width: 320px;
                height: 50px;
                line-height: 50px;
                border-bottom: 1px solid #e5e8ee;
                font-weight: 600;
                padding: 0 15px;
            }
                #wrap > header > #nav > ul > li > a {
                    color: rgb(10, 10, 65);
                }


                #wrap > header > #nav > ul > li:first-of-type {
                    height: 85px;
                    line-height: 85px;
                }

                #wrap > header > #nav > ul > li:last-of-type {
                    border-bottom: none;
                    height: 110px;
                    line-height: 110px;
                }


                    #wrap > header > #nav > ul > li:last-of-type a {
                        padding: 15px 28px;
                        color: #fff;
                        background-color: orangered;
                    }

                    #wrap > header > #nav > ul > li:not(:last-of-type) a:hover {
                        color: orangered;
                        transition: all 0.5s;
                    }

                #wrap > header > #nav > ul > li:last-of-type a:hover {
                    background-color: rgb(10, 10, 65);
                    transition:all 0.4s;
                }
  
                /*하단*/
                /*첫번째 푸터*/
                #footer_ {
                    width: 100%;
                    height: 76px;
                    background-color: orangered;
                }


    #footer_>ul {
        font-size: 0.9em;
        font-weight: bolder;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #footer_>ul>li {
        line-height: 76px;
    }

    #footer_>ul>li>a {
        color: #fff;
    }

    #footer_>ul>li>a:hover {
        color: rgb(10, 10, 65);
        transition: all 0.3s;
    }

    /*마지막 푸터*/

    footer {
        width: 100%;
        height: auto;
        background-color: rgb(10, 10, 65);
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: center;

    }

    footer>ul {
        width: 22%;
        padding: 3% 1%;
    }



    footer>ul>.a_li {
        color: #fff;
        font-weight: 900;
        font-size: 0.8em;
    }

    footer>ul>li {
        margin: 25px;
        font-size: 13px;
        color: #fff;
    }

    footer>ul>li>a {
        color: #fff;
        opacity: 0.8;
    }

    footer>ul>li>a:hover {
        opacity: 1;
    }



    footer>p {
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-top: 1px solid #eee;
        color: #fff;
        font-size: 0.7em;
    }





}